<a href="https://colab.research.google.com/github/snehapranathi21/Data-Cleaning/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data1={'Name':['jai','princi','Gaurav','Anu'],'Age':[27,24,22,32],'Address':['Delhi','Kanpur','Allahabad','Kannauj'],'Qualification':['Msc','MA','MCA','Phd']}
data2={'Name':['Abhi','Ayush','Dhiraj','hitesh'],'Age':[17,14,12,52],'Address':['Nagpur','Kanpur','Allahabad','Kannauj'],'Qualification':['Btech','B.A','Bcom','B.hons']}
df=pd.DataFrame(data1,index=[0,1,2,3])
df1=pd.DataFrame(data2,index=[4,5,6,7])
print(df,"\n\n",df1)
res=pd.concat([df,df1])
print(res)

     Name  Age    Address Qualification
0     jai   27      Delhi           Msc
1  princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3     Anu   32    Kannauj           Phd

      Name  Age    Address Qualification
4    Abhi   17     Nagpur         Btech
5   Ayush   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  hitesh   52    Kannauj        B.hons
     Name  Age    Address Qualification
0     jai   27      Delhi           Msc
1  princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3     Anu   32    Kannauj           Phd
4    Abhi   17     Nagpur         Btech
5   Ayush   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  hitesh   52    Kannauj        B.hons

In [ ]:
data1={'Name':['Jai','Princi','Gaurav','Anuj'],'Age':[27,24,22,32],'Address':['Delhi','Kanpur','Allahabad','Kannauj'],'Qualification':['Msc','MA','MCA','Phd']}
data2={'Name':['Abhi','Ayush','Dhiraj','Hitesh'],'Age':[17,14,12,52],'Address':['Nagpur','Kanpur','Allahabad','Kannauj'],'Qualification':['Btech','B.A','Bcom','B.hons']}
df=pd.DataFrame(data1,index=[0,1,2,3])
df1=pd.DataFrame(data2,index=[2,3,6,7])
print(df,"\n\n",df1)
res=pd.concat([df,df1],axis=1,join='inner')
print(res)

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

      Name  Age    Address Qualification
2    Abhi   17     Nagpur         Btech
3   Ayush   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  Hitesh   52    Kannauj        B.hons
     Name  Age    Address Qualification   Name  Age Address Qualification
2  Gaurav   22  Allahabad           MCA   Abhi   17  Nagpur         Btech
3    Anuj   32    Kannauj           Phd  Ayush   14  Kanpur           B.A

In [ ]:
data1={'Name':['Jai','Princi','Gaurav','Anuj'],'Age':[27,24,22,32],'Address':['Delhi','Kanpur','Allahabad','Kannauj'],'Qualification':['Msc','MA','MCA','Phd']}
data2={'Name':['Abhi','Ayush','Dhiraj','Hitesh'],'Age':[17,14,12,52],'Address':['Nagpur','Kanpur','Allahabad','Kannauj'],'Qualification':['Btech','B.A','Bcom','B.hons']}
df=pd.DataFrame(data1,index=[0,1,2,3])
df1=pd.DataFrame(data2,index=[2,3,6,7])
print(df,"\n\n",df1)
res=pd.concat([df,df1],ignore_index=True)
print(res)

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

      Name  Age    Address Qualification
2    Abhi   17     Nagpur         Btech
3   Ayush   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  Hitesh   52    Kannauj        B.hons
     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd
4    Abhi   17     Nagpur         Btech
5   Ayush   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  Hitesh   52    Kannauj        B.hons

In [ ]:
import pandas as pd
data1={'Name':['Jai','Princi','Gaurav','Anuj'],'Age':[27,24,22,32],'Address':['Delhi','Kanpur','Allahabad','Kannauj'],'Qualification':['Msc','MA','MCA','Phd']}
df=pd.DataFrame(data1,index=[0,1,2,3])
s1=pd.Series([1000,2000,3000,4000],name='Salary')
print(df,"\n\n",s1)
res=pd.concat([df,s1],axis=1)
print(res)

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

 0    1000
1    2000
2    3000
3    4000
Name: Salary, dtype: int64
     Name  Age    Address Qualification  Salary
0     Jai   27      Delhi           Msc    1000
1  Princi   24     Kanpur            MA    2000
2  Gaurav   22  Allahabad           MCA    3000
3    Anuj   32    Kannauj           Phd    4000

In [ ]:
import pandas as pd
data1={'key':['k0','k1','k2','k3'],'Name':['jai','Princi','Gaurav','Anuj'],'Age':[27,24,22,32]}
data2={'key':['k0','k1','k2','k3'],'Address':['Delhi','Kanpur','Allahabad','Kannauj'],'Qualification':['Btech','B.A','Bcom','B.hons']}
df=pd.DataFrame(data1)
df1=pd.DataFrame(data2)
print(df,"\n\n",df1)
res=pd.merge(df,df1,on='key')
print(res)

  key    Name  Age
0  k0     jai   27
1  k1  Princi   24
2  k2  Gaurav   22
3  k3    Anuj   32

   key    Address Qualification
0  k0      Delhi         Btech
1  k1     Kanpur           B.A
2  k2  Allahabad          Bcom
3  k3    Kannauj        B.hons
  key    Name  Age    Address Qualification
0  k0     jai   27      Delhi         Btech
1  k1  Princi   24     Kanpur           B.A
2  k2  Gaurav   22  Allahabad          Bcom
3  k3    Anuj   32    Kannauj        B.hons